/* primo blocco main */
$primary: #fbf9f6;

/* headerPromo */
$secondary: #f5f5f5; 

/* penultimo blocco main */
$tertiary: #eaeef4;

/* solo newsletter */
$newsletter: #244186;

/* pulsanti */
$btn: #ef6f31;
$marked: #ef6f31;

/* font and icons */
$regular: #333333;
$lighter: #b4b4b4;